body {
	text-align:center;
}

table{
	border-collapse: collapse;
	width:100%;
}
tr, th {
	display:inline;
}


td, th {
	float:left;
	border:1px solid #ddd;
	text-align:left;
	padding:8px;
	width:33%;


}
.blue:nth-child(even) {
	background:#ddd;

}
.mainDiv {
	width:400px;
	height:100px;
	display:-webkit-flex;
	-webkit-justify-content:center;
	disply:flex;
	justify-content: center;
}
.mainDiv .rotate {
	width:100px;
	height:100px;
	border:1px solid #c3c3c3;
	transform: rotateZ(-90deg);
}

.teams {
	background:orange;
}
